:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --reverse-text-color: #FFFFFF;
    --hero-footer-background-color: #2F303A;
    --button-color: #F5F4FA;


    /* Fonts */
    /* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
}

body {
    background-color: var(--reverse-text-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
}

/* Logo */

/* logo nav */

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.accent {
    color: var(--accent-color);
}

.list {
        list-style: none;
}


/* site nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}


.contact-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

/* hero */

.hero-title {
    color: var(--reverse-text-color);
    background-color: var(--hero-footer-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.hero-button {
    color: var(--reverse-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--accent-color);
    background-color: var(--button-color);
}

/* section */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

/* about us */

.about-list {
    list-style: none;
    }

.heading {
    text-transform: uppercase;
}

.description {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* activity photo */

.activity {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.43;
    text-align: center;
}

.activity-list {
    list-style: none;
}


/* our team members */
.team-box {
    background-color: var(--button-color);
}

.team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.43;
    text-align: center;
}

.team-list {
    list-style: none;
}

.member-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.job-title {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
}

/* page footer */

.page-footer {
    background-color: var(--hero-footer-background-color);
}

.footer-logo {
    color: var(--reverse-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--accent-color);
}

.footer-address, .footer-telephone, .footer-mail {
    color: var(--reverse-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.footer-telephone, .footer-mail {
    opacity: 60%;
}


 /* Potfolio page */

.variants-list {
    list-style: none;
}

/* our proposals buttons */

.button {
    color: var(--title-text-color);
    background-color: var(--button-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--reverse-text-color);
    background-color: var(--accent-color);
}

/* our projects */

.project-list {
    list-style: none;
}

.company-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
}

.project-title {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.picture-link:hover {
    opacity: 0.2;
}

/* log font color: #000000; */
/* title font color: #212121; */
/* paragraph font color #757575 */
/* header/footer background-color #2F303A */
/* white font color #FFFFFF */
/* Blue main page/button color #2196F3 */
/* Background section: #E5E5E5; */
/* Background team #F5F4FA */
/* footer 60% */

